################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Demos/Demo 2/OAuth OpenID Connect MVC Web Application
